---
import type { Icon } from "@/types/icon";
import { IconSkill } from "@/components/ui/icon-skill";
import TitleSection from "@/components/ui/title-section.astro";

const descriptionParagraph1 = `
As a passionate MERN Stack Developer, I specialize in building robust
and scalable web applications. With a strong foundation in MongoDB,
Express.js, React, and Node.js, I create seamless full-stack solutions
that deliver exceptional user experiences.
`;

const descriptionParagraph2 = `
My expertise extends to modern frameworks like Next.js and state
management tools like Redux. I'm committed to writing clean, efficient
code and staying up-to-date with the latest industry trends to deliver
cutting-edge solutions for my clients.
`;

const technologies: {
  title: string;
  skills: string[];
  icon: Icon;
}[] = [
  {
    title: "Frontend",
    skills: ["React", "Next.js"],
    icon: {
      name: "code",
      color: "text-blue-500",
    },
  },
  {
    title: "Backend",
    skills: ["Node.js", "Express"],
    icon: {
      name: "server",
      color: "text-green-500",
    },
  },
  {
    title: "Database",
    skills: ["MongoDB"],
    icon: {
      name: "database",
      color: "text-purple-500",
    },
  },
  {
    title: "Performance",
    skills: ["Optimization", "Caching"],
    icon: {
      name: "zap",
      color: "text-yellow-500",
    },
  },
];
---

<section
  id="about"
  class="py-20 bg-gradient-to-br from-blue-50 to-indigo-100 transition-colors duration-300 overflow-hidden relative"
>
  <div class="container mx-auto px-6 relative z-10">
    <TitleSection title="About Me" />

    <div class="flex flex-col md:flex-row items-center justify-between">
      <div class="md:w-1/2 mb-8 md:mb-0 fade-in-up delay-1">
        <p class="text-xl text-gray-700 leading-relaxed mb-6">
          {descriptionParagraph1}
        </p>
        <p class="text-xl text-gray-700 leading-relaxed">
          {descriptionParagraph2}
        </p>
      </div>

      <div class="md:w-1/2 grid grid-cols-2 gap-6 fade-in-up delay-2">
        {
          technologies.map(({ title, skills, icon }) => (
            <div class="bg-white p-6 rounded-lg shadow-md">
              <IconSkill client:visible name={icon.name} color={icon.color} />
              <h3 class="text-xl font-semibold mt-4 mb-2">{title}</h3>
              <p class="text-gray-600">{skills.join(", ")}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
